
{{#section 'head'}}
    <title>WebAudio Csound</title>
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/js/csound.js"></script>
    <script type="text/javascript" src="/js/handlebars.min.js"></script>
    <script type="text/javascript" src="/js/mixer.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
{{/section}}

<h1> Audio File Player </h1>

{{#each instruments}}
  {{> controls instNo=@this}}
{{/each}}
<div style="clear:both; float: left; display: block;">
<textarea class="console" cols="65" rows="20" id="console">
  Csound: not loaded
</textarea>
<p>
    <button id="playButton">Play</button>
</p>
</div>
